.trash/
.DS_Store
Zotero/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Zotero/.DS_Store
.DS_Store
Obsidian/.DS_Store
Marked/.DS_Store
DEVONthink Pro/.DS_Store
DEVONthink Pro/New Zettel Note___Alt-Cmd-Z.templatescriptd/.DS_Store
DEVONthink Pro/New Zettel Note___Alt-Cmd-Z.templatescriptd/Contents/.DS_Store
DEVONthink Pro/New Zettel Note___Alt-Cmd-Z.templatescriptd/Contents/Resources/.DS_Store
.DS_Store
Obsidian/.DS_Store
.DS_Store
.DS_Store
