/* Bullet Point Relationship Lines in Editor */

.cm-hmd-list-indent .cm-tab, 
ul ul,
ol ul,
ul ol,
ol ol  
{ position: inherit; }

.cm-hmd-list-indent .cm-tab::before, 
ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before 
{
content: ' ';
border-left:  0.1em solid var(--background-modifier-border);
position: absolute;
height: 100%;
}
