h1 {
  margin-top: calc((60 / 23) * 1em); /* 60px @23px */
  margin-bottom: calc((60 / 23) * 1em); /* 60px @23px */
  font-size: calc((23 / 18) * 1em); /* 1.2778em = 23px @ font-size: 18px */
  line-height: calc(30 / 23); /* 1.304 = 30px @ font-size: 23px */
}

h2 {
  margin-top: calc((60 / 21) * 1em); /* 60px @21px */
  margin-bottom: calc((30 / 18) * 1em); /* 30px @21px */
  font-size: calc((21 / 18) * 1em); /* 1.1667em = 21px @ font-size: 18px */
  line-height: calc(30 / 21); /* 1.4286 = 30px @ font-size: 21px */
}