/* Custom font-size for headers */
:root {
  --h1: 1em;
  --h2: 1em;
  --h3: 1em;
  --h4: 1em;
  --h5: 1em;
  --h6: 1em;
}

/* Replace Header Hashes(#) with H[1-6]*/
/*-- hide # markup if not active--*/
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-1.cm-header.cm-header-1,
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2,
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-3.cm-header.cm-header-3,
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-4.cm-header.cm-header-4,
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-5.cm-header.cm-header-5,
div:not(.CodeMirror-activeline)> pre .cm-formatting.cm-formatting-header.cm-formatting-header-6.cm-header.cm-header-6
{font-size:0px;}

/*-- display H1-h6 instead when inactive--*/
div:not(.CodeMirror-activeline)>pre.HyperMD-header-1:before {
  content: "H1";
  color: var(--text-faint);
  font-size: var(--h1);
  padding-right: var(--h1);
}
div:not(.CodeMirror-activeline)>pre.HyperMD-header-2:before {
  content: "H2";
  color: var(--text-faint);
  font-size: var(--h2);
  padding-right: var(--h2);
}
div:not(.CodeMirror-activeline)>pre.HyperMD-header-3:before {
  content: "H3";
  color: var(--text-faint);
  font-size: var(--h3);
  padding-right: var(--h3);
}
div:not(.CodeMirror-activeline)>pre.HyperMD-header-4:before {
  content: "H4";
  color: var(--text-faint);
  font-size: var(--h4);
  padding-right: var(--h4);
}
div:not(.CodeMirror-activeline)>pre.HyperMD-header-5:before {
  content: "H5";
  color: var(--text-faint);
  font-size: var(--h5);  
  padding-right: var(--h5);
}
div:not(.CodeMirror-activeline)>pre.HyperMD-header-6:before {
  content: "H6";
  color: var(--text-faint);
  font-size: var(--h6);
  padding-right: var(--h6);
}
